body {
  display: flex;
  text-align: center;
  justify-content: center; 
}

.container {
  display: flex;
  background-color:rgb(15, 180, 202);
  border: 10px groove rgb(61, 3, 3);
  border-radius: 10px;
  margin-top: 50px;
}

.left-side, .right-side {
  display: grid;
  grid-auto-rows: auto 50% auto;
  background-color: aqua;
  border-radius: 10px;
  border: 5px solid;
  margin: 10px;
}

.player-name {
  background-color: #3b9eee;
  font-size: 25px;
  padding: 20px;
  border-radius: 5px;
}
.face-timer { 
  display: grid;
  align-content: start;  
}

.player-face {
  
  display: grid;
  height: 250px;
}
.timer {
  background-color: hsl(233, 35%, 76%);
  display: grid;
  align-content: start;
  border: 3px solid;
  border-radius: 10px;
  height:6px;  
  margin-top: 10px;
}

.time {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 5px;
  background-color: yellow;
}

.face {

}



.player-pieces {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2px; 
  align-content: end; 
}

.piece-holder {
  background-color: rgb(255, 255, 255);
  display: grid;
  border: 3px solid;
  border-radius: 9px;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-content: center;
}

.piece, .piece2 {
  border: 8px outset;
  width: 40px;
  height: 40px;
  border-radius: 50%;  
}

.piece {
  background-color: #0367b8;
}

.piece2 {
  background-color: red;
}

.middle {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.mid-bottom {
  display: flex;
  justify-content: center;
}

.cast-yut-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  margin-bottom: 20px;
  border: 5px blue;
  border-radius: 5px;
  width: 540px;
  height: 70px;
  background-color: green;
  line-height: 100px;

}

.yut-count {
  background-color: white;
  border-radius: 50%;
  border: 3px blue;
  width: 60px;
  height: 60px; 
}

.cast-button {
  line-height: 55px;
  font-size: 40px;
  background-color: yellow;
  width: 200px;
  height: 60px;
  border: 2px black;
  border-radius: 5px;
}

#yut-board {
  display: grid;  
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #0367b8;
  gap: 20px 20px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  position: ;
}

#yut-board > div {
  align-content: center;
}

.board {
  border: 7px solid rgba(48, 232, 245, 0.8);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  font-size: 20px;
  text-align: center;
}

.inner-layer {   
  display: grid;   
  grid-area: 2 / 2 / 6 / 6;
}

.second-layer {
  display: flex;
  justify-content: space-between;
}

.third-layer {
  display: flex;
  justify-content: space-evenly;
}

.center {
  display: flex;
  justify-content: center;
}

.column {
  display: grid;
  justify-content: center;
}

.row {
  display: grid;
  align-content: center;
}

#corner {
  width: 70px;
  height: 70px;
}

