body {
  display: flex;
  text-align: center;
  justify-content: center; 
}

.container {
  display: flex;
  border: solid rgb(51, 4, 94);
  
  border-radius: 10px;
}

.left-side {
  display: grid;
  grid-template-columns: auto auto;
  background-color: aqua;
  border-radius: 20px;
  gap: 10px;
}

.right-side {
  display: grid;
  grid-template-columns: auto auto;
  background-color: aqua;
  border-radius: 20px;
  gap: 10px;
  margin: 0px;
  padding: auto;
}

#yut-board {
  display: grid;  
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #0367b8;
  gap: 20px 20px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

#yut-board > div {
  align-content: center;
}

.board {
  border: 7px solid rgba(48, 232, 245, 0.8);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  font-size: 20px;
  text-align: center;
}

.inner-layer {   
  display: grid;   
  grid-area: 2 / 2 / 6 / 6;
}

.second-layer {
  display: flex;
  justify-content: space-between;
}

.third-layer {
  display: flex;
  justify-content: space-evenly;
}

.center {
  display: flex;
  justify-content: center;
}

.column {
  display: grid;
  justify-content: center;
}

.row {
  display: grid;
  align-content: center;
}

#corner {
  width: 70px;
  height: 70px;
}

